[project]
	description = Share your ideas, buy our stuff
[access "refs/*"]
	owner = group user/Ilkka Hakkarainen (Irkka)
	owner = group user/akesulah (akesulah)
[access "refs/for/refs/*"]
	read = group user/Ilkka Hakkarainen (Irkka)
	push = group user/Ilkka Hakkarainen (Irkka)
	label-Code-Review = -2..+2 group user/Ilkka Hakkarainen (Irkka)
	label-Verified = -1..+1 group user/Ilkka Hakkarainen (Irkka)
	rebase = group user/Ilkka Hakkarainen (Irkka)
	removeReviewer = group user/Ilkka Hakkarainen (Irkka)
	submit = group user/Ilkka Hakkarainen (Irkka)
[access "refs/heads/*"]
	read = group user/Ilkka Hakkarainen (Irkka)
	create = group user/Ilkka Hakkarainen (Irkka)
	push = +force group user/Ilkka Hakkarainen (Irkka)
	pushMerge = group user/Ilkka Hakkarainen (Irkka)
[access "refs/tags/*"]
	push = +force group user/Ilkka Hakkarainen (Irkka)
	pushTag = group user/Ilkka Hakkarainen (Irkka)
	pushSignedTag = group user/Ilkka Hakkarainen (Irkka)
