/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.nav-tabs>li>a,
.nav-pills>li>a{
	*zoom:1;
	font-size:large;
	font-family:"Lithos Pro";
	font-weight:bold;	
	height:40px;
}
   
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after{
}













