// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-actions{
	padding:19px 20px 20px;
	margin-top:20px;
	margin-bottom:20px;
	background-color:white;
	border-top:0px solid #e5e5e5;*zoom:1;}
	
.form-actions:before,
.form-actions:after{display:table;content:"";line-height:0;
}

.glyphicon-chevron-up:before{
	color:#6699CC;
}

.glyphicon-chevron-down:before{
	color:#6699CC;
}

.table{
	width:100%;margin-bottom:20px;
	  word-wrap:break-word;
  word-wrap:break-all;
}

.table th,
.table td{
	padding:8px;
	line-height:20px;
	text-align:left;
	vertical-align:top;
	border-top:1px solid #dddddd;
}

.table.details th,
.table.details td{
	padding:8px;
	line-height:20px;
	text-align:left;
	vertical-align:top;
	border-top:0px solid #dddddd;
}

input, textarea, select, .uneditable-input {
    width: 100%;
    resize: none;
}

select,textarea,input[type="text"],input[type="password"],.uneditable-input{
	display:inline-block;
	height:25px;
	padding:4px 6px;
	margin-bottom:10px;
	font-size:14px;
	line-height:20px;
	color:#555555;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	vertical-align:middle;}
	
select,textarea,input[type="desc"]{
	height:150px;
}

