// Place all the styles related to the keywords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well{
  min-height:20px;
  padding:19px;
  margin-bottom:20px;
  background-color:white;
  border:0px solid #e3e3e3;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow:inset 0 1px 1px rgba(0, 0.05, 0, 0);
}

.well blockquote{
  border-color:#ddd;
  border-color:rgba(0, 0, 0, 0.15);
}


a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color:none;
  }
}

a.glyphicon {
  color:red;
  &:visited {
    color:red;
  }
  &:hover {
    color:grey;
    background-color:none;
  }
}


